body {
    font-size: 14px;
    text-rendering: optimizeLegibility;
    margin-top: 1em;
    overflow-y: scroll;
}
.label {
    font-size: .65em;
}
body {
    width: 100%;
    margin: auto;
}
.corset {
    width: 960px;
    margin: 0 auto;
}
h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: .3em;
}
.brand {
    font-weight: bold;
    transition: all 300ms;
    color: #4D4D4F;
}
.brand:hover {
    color: #9D9DA1;
    transition: all 300ms;
    cursor: pointer;
}
.error {
    color: red;
}
.recommendation {
    margin-top: 0.5em;
    font-weight: 300;
}
.invoice_head th {
    font-weight: normal !important;
}
#sidebar_btn {
    transition: all 300ms;
    color: #20C6A6;
    float: left;
}
#sidebar_btn:hover {
    transition: all 300ms;
    color: #25E0BC;
}
.ui.blue.button {
    background-color: #20C6A6;
    transition: all 300ms;
}
.ui.blue.button:hover {
    background-color: #25E0BC;
    transition: all 300ms;
}
.ui.blue.labels .label, .ui.blue.label {
    background-color: #1ba8e5 !important;
    border-color: #1ba8e5 !important;
    color: #ffffff !important;
}
.ui.green.buttons .button, .ui.green.button {
    background-color: #F5AB35;
}
.ui.green.buttons:hover .button:hover, .ui.green.button:hover {
    background-color: #F9C36D;
}
.ui.green.statistics .statistic > .value,
.ui.statistics .green.statistic > .value,
.ui.green.statistic > .value {
    color: #F5AB35;
}
.ui.blue.progress .bar {
    background-color: #F5AB35;
}
.ui.red.buttons .button, .ui.red.button {
    background-color: #20C6A6;
}
.ui.red.buttons .button:hover, .ui.red.button:hover {
    background-color: #25E0BC;
}
.ui.steps .step.active .title {
    color: #20C6A6;
}
.ui.statistics > .statistic {
    margin: 0em 0.5em;
}
.invoice_unpaid {
    font-weight: bold;
}
hr {
  border: 0;
  border-top: 1px solid silver;
}
.ui.block.header {
    border: none;
    border-radius: 0;
    background: #FFF6E5;
    color: #4D4D4F;
}
.modal .ui.items {
    margin: 1.5em 2em;
}
.ui.image svg, .ui.image img {
    display: inline-block;
}
