<!--body-->
<div class="ui dashboard inverted vertical menu sidebar">
	<div class="item">
		<h2>George Burdell</h2>
		<a href="" class="sub header"><i class="settings icon"></i> Account Settings</a>
	</div>
	<div class="ui hidden divider"></div>
	<div class="projects">
		<div class="header item">
			<i class="idea icon"></i>Projects
		</div>
		<a class="item">Project 1</a>
		<a class="item">Project 2</a>
		<a class="item">Project 3</a>
		<a class="item">Project 4</a>
		<a class="item">Project 5</a>
	</div>
	<div class="ui hidden divider"></div>
	<div class="freelancers">
		<div class="header item">
			<i class="users icon"></i>Freelancers
		</div>
		<a class="item">Dude 1</a>
		<a class="item">Dude 2</a>
		<a class="item">Dude 3</a>
		<a class="item">Dude 4</a>
		<a class="item">Dude 5</a>
	</div>
	<div class="ui hidden divider"></div>
	<a class="active item">Logout</a>
</div>
<div class="pusher">
	<div class="ui page centered grid">
		<div class="ten wide column">
			<div class="ui image segment" id="viz">
				<img src="http://placehold.it/1200x600">
			</div>
			<div class="ui segment two column grid" id="budget">
				<div class="center aligned column">
					<div class="ui basic horizontal segment">
						<h3 class="ui header">Demo</h3>
						<p>Last Updated Jan 17 2015</p>
						<div class="ui compact red button">Show Me</div>
					</div>
				</div>
				<div class="center aligned column" id="budget">
					<div class="ui basic horizontal segment">
						<h3 class="ui header">Budget</h3>
						<div class="ui blue progress" id="budget_bar">
							<div class="bar">
								<div class="progress"></div>
							</div>
							<div class="label">Budget Utilized</div>
						</div>
						<div class="ui mini statistics">
							<div class="statistic">
								<div class="value" id="budget_budgeted">$2950</div>
								<div class="label">budgeted</div>
							</div>
							<div class="statistic">
								<div class="value">-</div>
							</div>
							<div class="statistic">
								<div class="value" id="budget_utilized">$2256</div>
								<div class="label">utilized</div>
							</div>
							<div class="statistic">
								<div class="value">-</div>
							</div>
							<div class="green statistic">
								<div class="value" id="budget_leftover">$694</div>
								<div class="label">leftover</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui segment" id="invoice">
				<h3 class="ui header">Invoice</h3>
				<table class="ui very basic small padded table">
					<thead>
						<tr class="invoice_head">
							<th>Date Recieved</th>
							<th>Payment Due</th>
							<th>Payment Made</th>
							<th colspan="2">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr class="invoice_unpaid warning">
							<td>01/17/2015</td>
							<td>01/31/2015</td>
							<td><i class="attention icon"></i> <strong>Unpaid</strong></td>
							<td>$357.34</td>
							<td><div class="mini red compact ui button">Pay</div></td>
						</tr>
						<tr>
							<td>01/02/2015</td>
							<td>01/16/2015</td>
							<td>01/16/2015</td>
							<td>$232.56</td>
							<td><i class="large green checkmark icon"></i></td>
						</tr>
						<tr>
							<td>12/31/2014</td>
							<td>01/01/2015</td>
							<td>01/01/2015</td>
							<td>$245.78</td>
							<td><i class="large green checkmark icon"></i></td>
						</tr>
						<tr>
							<td>12/02/2014</td>
							<td>12/14/2014</td>
							<td>12/14/2014</td>
							<td>$316.84</td>
							<td><i class="large green checkmark icon"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="five wide column ui segment">
			<h2 class="ui header">Your Freelancer</h2>
			<img class="ui tiny circular left floated image" src="http://placehold.it/100x100">
			<h4>George Burdell</h4>
			<p>Web Designer (5 yrs)<br>
				<a href="">LinkedIn Profile</a></p>
				<div class="ui hidden divider"></div>
				<h4>Top Endorsed Skills</h4>
				<p><div class="ui label">8<div class="detail">HTML/CSS</div></div></p>
				<p><div class="ui label">8<div class="detail">Illustrator</div></div></p>
				<p><div class="ui label">6<div class="detail">Graphic Design</div></div></p>
				<h5>Recommendations</h5>
				<div class="ui relaxed list">
					<div class="item">
						<img class="ui avatar image" src="http://placehold.it/100x100">
						<div class="content">
							<a class="header">Dorothy Lawson</a>
							<div class="description">Product Manager</div>
						</div>
						<p class="recommendation">"George was nothing but professional and friendly during our contract period together. He delivered exactly what I wanted and I am completely satisfied! Go George!"</p>
					</div>
					<div class="item">
						<img class="ui avatar image" src="http://placehold.it/100x100">
						<div class="content">
							<a class="header">Mark Blackwell</a>
							<div class="description">Marketing Consultant</div>
						</div>
						<p class="recommendation">"Creativity, professionalism, and enthusiasm define George perfectly. He handled questions and concerns in a timely manner and consistently kept me updated with his progress."</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--/body-->