<!--body-->
<div class="ui dashboard inverted vertical menu sidebar">
	<div class="item">
		<h2>George Burdell</h2>
		<a href="" class="sub header"><i class="settings icon"></i> Account Settings</a>
	</div>
	<div class="ui hidden divider"></div>
	<div class="projects">
		<div class="header item">
			<i class="idea icon"></i>Projects
		</div>
	  	<a class="item">Project 1</a>
	  	<a class="item">Project 2</a>
	  	<a class="item">Project 3</a>
	  	<a class="item">Project 4</a>
	  	<a class="item">Project 5</a>
	</div>
  	<div class="ui hidden divider"></div>
	<div class="freelancers">
		<div class="header item">
			<i class="users icon"></i>Freelancers
		</div>
	  	<a class="item">Dude 1</a>
	  	<a class="item">Dude 2</a>
	  	<a class="item">Dude 3</a>
	  	<a class="item">Dude 4</a>
	  	<a class="item">Dude 5</a>
	</div>
	<div class="ui hidden divider"></div>
	<a class="active item">Logout</a>
</div>
<div class="ui top fixed menu">
</div>
<a href="" id="sidebar_btn">boom boom boom</a>
<div class="pusher">
	<div class="ui cards">
		<div class="card">
			<div class="image">
				<img src="/images/avatar/large/elliot.jpg">
			</div>
			<div class="content">
				<div class="header">Elliot Fu</div>
				<div class="meta">
					<a class="group">Friends</a>
				</div>
				<div class="description">
					Elliot Fu is a film-maker from New York.
				</div>
			</div>
			<div class="extra content">
				<a class="right floated created">
					Joined in 2011
				</a>
				<a class="friends">
					<i class="user icon"></i>
					22 Friends
				</a>
			</div>
		</div>
		<div class="card">
			<div class="image">
				<img src="/images/avatar/large/helen.jpg">
			</div>
			<div class="content">
				<div class="header">Helen Troy</div>
				<div class="meta">
					<a class="group">Friends</a>
				</div>
				<div class="description">
					Helen Troy is an archivist living in New York, who enjoys cooking, fine art, and gardening.
				</div>
			</div>
			<div class="extra content">
				<a class="right floated created">
					Joined in 2013
				</a>
				<a class="friends">
					<i class="user icon"></i>
					22 Friends
				</a>
			</div>
		</div>
		<div class="card">
			<div class="image">
				<img src="/images/avatar/large/jenny.jpg">
			</div>
			<div class="content">
				<div class="header">Jenny Hess</div>
				<div class="meta">
					<a class="group">Friends</a>
				</div>
				<div class="description">
					Jenny is a student studying Media Management at the New School.
				</div>
			</div>
			<div class="extra content">
				<a class="right floated created">
					Joined in 2012
				</a>
				<a class="friends">
					<i class="user icon"></i>
					22 Friends
				</a>
			</div>
		</div>
		<div class="card">
			<div class="image">
				<img src="/images/avatar/large/veronika.jpg">
			</div>
			<div class="content">
				<div class="header">Veronika Ossi</div>
				<div class="meta">
					<a class="group">Friends</a>
				</div>
				<div class="description">
					Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
				</div>
			</div>
			<div class="extra content">
				<a class="right floated created">
					Joined in 2013
				</a>
				<a class="friends">
					<i class="user icon"></i>
					22 Friends
				</a>
			</div>
		</div>
		<div class="card">
			<div class="image">
				<img src="/images/avatar/large/stevie.jpg">
			</div>
			<div class="content">
				<a class="header">Stevie Feliciano</a>
				<div class="meta">
					<span class="date">Joined in 2014</span>
				</div>
				<div class="description">
					Stevie Feliciano is a library scientist living in New York City.
				</div>
			</div>
			<div class="extra content">
				<a>
					<i class="user icon"></i>
					22 Friends
				</a>
			</div>
		</div>
		<div class="card">
			<div class="image">
				<img src="/images/avatar/large/steve.jpg">
			</div>
			<div class="content">
				<div class="header">Steve Jobes</div>
				<div class="meta">
					<a class="group">Acquaintances</a>
				</div>
				<div class="description">
					Steve Jobes is a fictional character designed to resemble someone familiar to readers.
				</div>
			</div>
			<div class="extra content">
				<a class="right floated created">
					Joined in 2014
				</a>
				<a class="friends">
					<i class="user icon"></i>
					22 Friends
				</a>
			</div>
		</div>
	</div>
</div>
<!--/body-->