<div class="corset">
	<div class="ui segment">
		<div class="ui cards three column grid">
			<div class="fluid card column">
				<a href="#/projects/1"  class="image">
					<img src="images/icon_code.png">
				</a>
				<div class="content">
					<a href="#/projects/1" class="header">Project Alpha</a>
					<div class="meta">
						<a class="group">Development</a>
					</div>
					<div class="description">
						Project Alpha is the bulk of the front and back end development.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
			<div class="fluid card column">
				<div class="image">
					<img src="images/icon_design.png">
				</div>
				<div class="content">
					<div class="header">Project Beta</div>
					<div class="meta">
						<a class="group">Sketches</a>
					</div>
					<div class="description">
						Project Beta is the bulk of the design and ux considerations.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
			<div class="fluid card column">
				<div class="image">
					<img src="images/icon_hybrid.png">
				</div>
				<div class="content">
					<div class="header">Project Charlie</div>
					<div class="meta">
						<a class="group">Both</a>
					</div>
					<div class="description">
						Project Charlie is both the front and back end development, as well as design.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
			<div class="fluid card column">
				<div class="image">
					<img src="images/icon_code.png">
				</div>
				<div class="content">
					<div class="header">Project Alpha</div>
					<div class="meta">
						<a class="group">Development</a>
					</div>
					<div class="description">
						Project Alpha is the bulk of the front and back end development.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
			<div class="fluid card column">
				<div class="image">
					<img src="images/icon_design.png">
				</div>
				<div class="content">
					<div class="header">Project Beta</div>
					<div class="meta">
						<a class="group">Sketches</a>
					</div>
					<div class="description">
						Project Beta is the bulk of the design and ux considerations.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
			<div class="fluid card column">
				<div class="image">
					<img src="images/icon_hybrid.png">
				</div>
				<div class="content">
					<div class="header">Project Charlie</div>
					<div class="meta">
						<a class="group">Both</a>
					</div>
					<div class="description">
						Project Charlie is both the front and back end development, as well as design.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
			<div class="fluid card column">
				<div class="image">
					<img src="images/icon_code.png">
				</div>
				<div class="content">
					<div class="header">Project Alpha</div>
					<div class="meta">
						<a class="group">Development</a>
					</div>
					<div class="description">
						Project Alpha is the bulk of the front and back end development.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
			<div class="fluid card column">
				<div class="image">
					<img src="images/icon_design.png">
				</div>
				<div class="content">
					<div class="header">Project Beta</div>
					<div class="meta">
						<a class="group">Sketches</a>
					</div>
					<div class="description">
						Project Beta is the bulk of the design and ux considerations.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
			<div class="fluid card column">
				<div class="image">
					<img src="images/icon_hybrid.png">
				</div>
				<div class="content">
					<div class="header">Project Charlie</div>
					<div class="meta">
						<a class="group">Both</a>
					</div>
					<div class="description">
						Project Charlie is both the front and back end development, as well as design.
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">
						Links
					</a>
					<a class="friends">
						<i class="user icon"></i>
						Comment
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
