<div class="corset">
    <div class="ui bottom attached tab active segment tab1">
        <div class="ui padded grid">
            <div class="ui steps">
                <a class="step" href="#/register/client/basic">
                    <i class="user icon"></i>
                    <div class="content">
                        <div class="title">Basic Info</div>
                        <div class="description">Let's get to know you.</div>
                    </div>
                </a>
                <a class="step" href="#/register/client/3rd_party">
                    <i class="add circle icon"></i>
                    <div class="content">
                      <div class="title">3rd Party Setup</div>
                      <div class="description">Connect essential services to your account.</div>
                    </div>
                </a>
                <div class="step active">
                    <i class="check square icon"></i>
                    <div class="content">
                      <div class="title">Confirmation</div>
                      <div class="description">Make sure you're all good to go!</div>
                    </div>
                </div>
            </div>
            <div class="ui sixteen wide column ng-class: {loading: isLoading}">
                <h1 class="ui dividing header">Confirmation</h1>
                <div class="ui hidden divider"></div>
                <div class="ui centered grid">
                <div class="ui twelve wide column">
                    <p><strong>Almost there!</strong> Take a second to review your account details before proceeding. You can edit any of your previous details by clicking on the steps above or the buttons below.</p>
                    <h2>Your Information</h2>
                    <p><strong>Your Name: </strong>Spiders Georg</p>
                    <p><strong>Your Email: </strong>mailer-daemon@yahoo.com</p>
                    <p><strong>Your Venmo Account: </strong>650-867-5309</p>
                    <p><a href="#/register/client/basic" class="mini ui button">Edit Account Details</a><a href="#/register/client/3rd_party"class="mini ui button">Edit Venmo Details</a>
                    <div class="ui hidden divider"></div>
                    <a class="ui massive blue button" href="#/projects">Create Account</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
